@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat|Rock+Salt');

/* Define defaults-------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 15px auto;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    display: inline;
}

button:hover {
    cursor: pointer;
}

ul li {
    list-style-type: circle;
    line-height: 1.75rem;
}

section {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section>* {
    max-width: 1000px;
}

.no-scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

/*  Positioning classes-------- */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex-row-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*----------------------------*/

.pop-out {
    height: 100vh;
    width: 800px;
    position: fixed;
    top: 0px;
    left: -100%;
    z-index: 100;
    background: #FFF;
    transition: left 0.2s;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.pop-out-top-bar {
    width: 100%;
    height: auto;
    background: rgb(87, 87, 87);
}

.pop-out-top-bar h1 {
    font-size: 1.2rem;
    color: #FFF;
    margin: 0 10px;
}

.pop-out-close-btn {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    font-size: 10px;
    background: transparent;
    transition: color 0.2s;
    color: #FFF;
    margin: 0;
    padding: 0;
    border: 0;
}

.pop-out-close-btn:hover {
    background: red;
    cursor: pointer;
}

/* Code viewer ------------------------*/

#code-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(34, 34, 34);
}

.cv-menu {
    justify-self: space-evenly;
    margin: 0 auto 10px auto;
    width: 100%;
    flex-wrap: wrap;
}

.cv-menu button {
    margin: 0 1px 1px 0;
    padding: 5px 30px;
    outline: none;
}

.cv-menu-unselected {
    background: rgb(78, 78, 78);
    color: rgb(170, 170, 170);
    border: 0;
    border-top: 4px transparent solid;
    border-bottom: 4px transparent solid;
}

.cv-menu-selected {
    background: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    border: 0;
    border-top: 4px transparent solid;
    border-bottom: 4px green solid;
}

.cv-view-btns-container {
    align-self: center;
    justify-self: flex-end;
}

.cv-view-btns-container button {
    margin: 0 1px;
    padding: 5px 30px;
    outline: none;
}

.cv-code-text-box {
    justify-self: flex-end;
    width: 100%;
    overflow: auto;
    flex: 1;
}

.CodeMirror {
    width: 100% !important;
    height: 100% !important;
    font-size: 1rem;
}

.cv-view-unselected {
    background: rgb(214, 214, 214);
    color: rgb(163, 163, 163);
    border: 0;
}

.cv-view-selected {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0;
}

/* Resume viewer ------------------------*/

#resume-viewer {
    background: linear-gradient(300deg, rgb(168, 168, 168), rgb(216, 216, 216));
    flex-direction: column;
}

#resume-viewer iframe {
    width: 100%;
    height: auto;
    flex: 1;
    border: 0;
    margin: 0;
    padding: 0;
}

/*----------------------------*/

nav {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 100vw;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

nav a {
    color: #FFF;
    padding: 10px 20px;
    transition: background 0.2s;
}

nav a:hover {
    background: #00F;
}

/*----------------------------*/

#splash {
    min-height: 100vh;
    background: linear-gradient(60deg, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8)), url('assets/crab.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#name {
    color: #FFF;
    font-size: 4rem;
    line-height: 5rem;
    font-family: 'Rock Salt', cursive;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

#splash-textbox {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border: 7px #FFF solid;
    width: 700px;
    max-width: 90vw;
    height: 100px;
    text-align: center;
    margin-bottom: 75px;
}

#cursor {
    margin: 0;
    padding: 0;
    text-align: left;
    animation: 1s blink step-end infinite;
}

.icon {
    height: 55px;
    width: 55px;
    margin: 0 25px;
    filter: invert(100) drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
}

.icon:hover {
    margin-top: -20px;
}

.icon-row {
    max-width: 90vw;
    min-height: 50px;
    margin: 25px auto;
}

.icons-container {
    flex-wrap: wrap;
}

/*----------------------------*/

#welcome {
    background: #00F;
    color: #FFF;
    height: 100px;
    padding: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    background: linear-gradient(rgba(0, 0, 255, 0.85), rgba(0, 0, 255, 0.85)), url('assets/code.jpg');
    background-attachment: fixed;
    background-size: cover;
}

/*----------------------------*/

#about-me {
    background: linear-gradient(transparent, rgb(200, 239, 252));
}

#about-me img {
    max-width: 95vw;
    width: 200px;
    border-radius: 20px;
    margin: 25px 0 25px 25px;
}

#about-me>div {
    flex-direction: row;
}

#about-me-text {
    width: auto;
    max-width: 90vw;
    margin: 25px;
}

#skillset {
    margin: 25px auto;
}

#skillset ul {
    max-width: 90vw;
    column-count: 2;
    column-gap: 50px;
    margin: 0 auto 0 15px;
}

/*----------------------------*/

#my-work {
    background: linear-gradient(rgb(200, 239, 252), transparent);
}

.project-container {
    height: auto;
    width: auto;
    display: flex;
    margin: 25px auto 100px auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 500px;
    max-width: 95vw;
    height: 350px;
    background: #000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.description-container {
    width: 500px;
    max-width: 95vw;
    height: 350px;
    background: #FFF;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-title {
    font-size: 2rem;
}

.nav-container i {
    margin: 0 3px;
    color: silver;
    transition: color 0.2s;
}

.nav-container i:hover {
    cursor: pointer;
    color: blue;
}

.page-indicator-container i {
    color: silver;
    margiN: 0 3px;
}

.description-text {
    height: 60%;
    width: 90%;
    text-align: left;
    line-height: 1.5;
    margin-top: 10px;
}

.description-container ul {
    margin-left: 25px;
}

.description-container .links-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description-container .links-container a {
    font-size: 0.8rem;
    width: 100px;
    text-align: center;
    color: #FFF;
    background: blue;
    border-radius: 25px;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
    transition: background 0.2s;
}

.description-container .links-container a:hover {
    background: green;
    cursor: pointer;
}

/*----------------------------*/

#contact-links {
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(rgb(255, 255, 255), transparent), url('assets/beach_water.JPG');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#links-container a {
    height: 80px;
    width: 80px;
    max-width: 90vw;
    text-align: center;
    margin: 25px;
    border-radius: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('assets/code.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: background 0.2s;
}

#links-container a:hover {
    background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0.8)), url('assets/code.jpg');
    background-attachment: fixed;
    background-size: cover;
    cursor: pointer;
}

#mailto-link {
    font-size: 2rem;
    margin: 25px auto;
    color: #00F;
    transition: color 0.2s;
}

#mailto-link:hover {
    color: rgb(0, 100, 0);
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #FFF;
    }
}

@media only screen and (max-width: 800px) {
    /* Defaults */
    section {
        padding: 50px 0;
    }
    #welcome h2 {
        font-size: 4vw;
    }

    nav {
        justify-content: center;
        align-items: center;
    }

    /* Splash */
    #name {
        font-size: 8vw;
        line-height: 9vw;
    }
    #splash-textbox {
        font-size: 8vw;
        height: 12vw;
        border: 1vw #FFF solid;
    }
    /* About me */
    #about-me>div {
        flex-wrap: wrap;
    }
    #about-me-text {
        width: 80vw;
    }
    #skillset ul {
        column-count: 1;
        width: 80vw;
    }
    .pop-out {
        width: 100vw;
        height: 100vh;
    }


}

@media only screen and (max-width: 450px) {
    /* Defaults */
    a, p, ul li {
        font-size: 0.9rem;
    }
    h2 {
        font-size: 1.9rem;
    }
    nav a {
        font-size: 0.8rem;
    }
    /* Splash */
    .icon {
        margin: 0 15px;
        height: 12vw;
        width: 12vw;
        font-size: 12vw !important;
    }
    /*  About me */
    #about-me img {
        margin: 25px 0;
    }
    /*  My Work */
    .project-title {
        font-size: 1.5rem;
    }
    .description-text, .description-text ul li {
        font-size: 0.8rem;
        line-height: 1.4;
    }

    .description-container,
    .image-container {
        height: 300px;
    }

    /* Code-viewer */
    .CodeMirror,    
    .cv-menu button,
    .cv-view-btns-container button {
        font-size: 0.7rem;
    }

        /* Contact */
        #mailto-link {
            font-size: 7vw;
        }
}